@model music.Models.Music.MusicResponse

@{
    ViewBag.Title = "Search Streaming";
}

<h2>@ViewBag.Title.</h2>

<h3>Test @Model.Title </h3>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
